/* Estilos generales */
body {
    margin: 0;

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
}

/* Contenedor principal */
.dashboard-container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header"
        "main"
        "footer";

    min-height: 100dvh;
}

/* Header */
.dashboard-container header {
    grid-area: header;

    min-height: 3.2rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #333;
    color: white;
}

/* Contenido del header */
.dashboard-container header div {
    display: flex;
    align-items: center;

    gap: 1rem;
}

/* Botón del menú */
.dashboard-container header .menu {
    position: relative;
    z-index: 1100;
}

/* Main */
.dashboard-container main {
    grid-area: main;

    padding: 1rem;

    overflow-y: auto;
}

/* Footer */
.dashboard-container footer {
    grid-area: footer;

    padding: 1rem;

    background-color: #333;
    color: white;

    text-align: center;
}

/* Escritorio */
@media screen and (min-width: 600px) {
    .dashboard-container {
        grid-template-columns: 18rem 1fr;

        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }

    .dashboard-container header .menu {
        display: none;
    }
}